.error {
  color: #d00;
  font-size: 0.8em;
}

.item-input-placeholder-icon {
  position: relative;
}

.placeholder-icon-right {
  position: absolute;
  right: 5px;
  bottom: 0;
  line-height: 40px;
}

.spinner-small svg {
  width: 14px;
  height: 14px;
}