<ion-view view-title="Form" ng-controller="ViewCtrl">
    <ion-content>

        <!--
            Un bon tuto : https://scotch.io/tutorials/angularjs-form-validation

            novalidate : pour éviter les validation browser en HTML5
        -->
        <form name="form" ng-submit="onSubmit(user, form)" novalidate>
            <div class="list">
                <!--
                    On utilise ngMessages pour l'affichage séparé des erreurs.
                    Les erreurs correspondent aux directives :
                    - required
                    - minlength
                    - maxlength
                    - validation-first

                    form.first.$touched permet d'afficher les erreurs seulement si le champ
                    a été "touché" et quitté contrairement à dirty qui est activé
                    dès que le champ est cliqué ou modifié

                    form.$submitted affiche l'erreur si on a cliqué sur le bouton submit

                    Object : form.first
                    {
                      "$validators": {},
                      "$asyncValidators": {},
                      "$parsers": [],
                      "$formatters": [
                        null
                      ],
                      "$viewChangeListeners": [],
                      "$untouched": false,
                      "$touched": true,
                      "$pristine": true,
                      "$dirty": false,
                      "$valid": false,
                      "$invalid": true,
                      "$error": {
                        "validation-first": true,
                        "required": true
                      },
                      "$name": "first",
                      "$options": null
                    }
                -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">First Name (letters only)</span>
                    <input name="first" type="text"
                           placeholder="First Name"
                           ng-model="user.first"
                           ng-minlength="3"
                           ng-maxlength="12"
                           no-numbers
                           required>
                    <!-- ng-show: form.first.$touched permet de n'afficher le message qu'après le premier onBlur -->
                    <span ng-messages="form.first.$error" ng-show="form.first.$touched || form.$submitted">
                        <span class="error" ng-message="required">Prénom demandé !</span>
                        <span class="error" ng-message="minlength">Trop court !</span>
                        <span class="error" ng-message="maxlength">Trop long !</span>
                        <span class="error" ng-message="no-numbers">Nombres interdits !</span>
                    </span>
                </label>

                <!--
                    Champ email validé seulement au onBlur
                    voir : ng-model-options="{updateOn: 'blur'}"

                    Ici on va redéfinir la directive de check d'Angular
                    pour le type="email"

                    On vérifie aussi l'existence de l'email via un faux service
                    asynchrone en utilisant une "promise"
                -->
                <label class="item item-input item-floating-label item-input-placeholder-icon">
                    <ion-spinner icon="spiral" class="spinner spinner-small placeholder-icon placeholder-icon-right" ng-show="form.email.$pending.existence"></ion-spinner>
                    <input name="email" type="email"
                           placeholder="Email (@example.com only)"
                           ng-model="user.email"
                           ng-model-options="{updateOn: 'blur'}"
                           custom-email
                           check-existence
                           required>
                    <span ng-messages="form.email.$error" ng-show="form.email.$touched || form.$submitted">
                        <span class="error" ng-message="required">Email demandé !</span>
                        <span class="error" ng-message="email">Mauvais email !</span>
                        <span class="error" ng-message="existence">Email existe déjà !</span>
                    </span>
                </label>
            </div>

            <!--
                On utilise ng-disabled pour bloquer la soumission tant que le formulaire
                n'est pas valide.
                On peut garder les checks sur form.$submitted sur les champs par sécu
            -->
            <button type="submit" class="button button-block button-positive" ng-disabled="form.$invalid">Valider</button>
        </form>

        <ul class="list">
            <li class="item" ng-repeat="user in users">
                {{user.first}} : {{user.email}}
            </li>
        </ul>

    </ion-content>
</ion-view>